DATABASE_URL=
REDIS_DATABASE_URI=
SMTP_HOST=smtp.gmail.com
SMTP_SERVICE=gmail
SMTP_PORT=465
SMTP_PASS=
SMTP_USER=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_SECRET=
STRIPE_SECRET_KEY=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
# Comment out Docker Kafka config
# KAFKA_BROKERS=kafka:29092
# Use local Kafka for development
KAFKA_BROKERS=localhost:9092
NODE_ENV=development
EC2_PUBLIC_IP=only needs on production